{{ define "main" }}
    <section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-4 d-flex ftco-animate">
    				<div class="coach align-items-stretch">
	    				<div class="img" style="background-image: url({{ "images/lead-4.png" | relURL }});"></div>
	    				<div class="text bg-white p-4 ftco-animate">
	    					<span class="subheading">Founder</span>
	    					<h3><a href="#">Nishtha Chaudhary</a></h3>
	    					<p>Nishtha Chaudhary , The visionary behind Yog Nishtha Trust, is a dedicated yoga practitioner and wellness advocate with a deep-rooted passion for promoting holistic living. With years of personal practice and teaching experience, Nishtha founded Yog Nishtha Trust to make authentic yogic practices accessible to all—regardless of age, background, or lifestyle.
								Driven by a commitment to well-being, Nishtha integrates traditional yoga philosophies with modern needs, offering a nurturing space for physical health, mental clarity, and spiritual balance. Under her guidance, Yog Nishtha has become a trusted name in hybrid (online + offline) yoga classes that foster both personal transformation and community connection.
								Nishtha  believes in the power of discipline (Nishtha) and intuition as key forces in the journey of self-discovery, and she continues to inspire others to lead balanced, mindful lives through yoga.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	              </ul>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-4 d-flex ftco-animate">
    				<div class="coach align-items-stretch">
	    				<div class="img" style="background-image: url({{ "images/lead-2.jpeg" | relURL }});"></div>
	    				<div class="text bg-white p-4 ftco-animate">
	    					<span class="subheading">Trustee</span>
	    					<h3><a href="#">Manoj</a></h3>
	    					<p>With a deep commitment to the ancient wisdom of yoga, Manoj serves as a dedicated trustee of Yog Nishtha Trust. His calm presence, strong values, and disciplined lifestyle reflect the essence of yogic living. Manoj plays an instrumental role in guiding the trust’s vision, ensuring that its activities stay rooted in authenticity, compassion, and community service. Passionate about wellness and spiritual growth, he supports various initiatives that bring yoga and holistic well-being to people of all ages.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	              </ul>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-4 d-flex ftco-animate">
    				<div class="coach align-items-stretch">
	    				<div class="img" style="background-image: url({{ "images/lead-3.jpeg" | relURL }});"></div>
	    				<div class="text bg-white p-4 ftco-animate">
	    					<span class="subheading">Treasurer</span>
	    					<h3><a href="#">Abhishek</a></h3>
	    					<p>Abhishek Gangwar brings integrity, precision, and dedication to his role as the Treasurer of Yog Nishtha Trust. With a sharp eye for detail and a strong sense of responsibility, he ensures transparent and efficient management of the trust’s financial resources. Abhishek’s calm and balanced approach reflects the values of yoga, and his commitment supports the trust’s mission to make wellness accessible to all. His contribution is vital in maintaining the financial health and sustainability of Yog Nishtha’s various initiatives.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	              </ul>
	    				</div>
	    			</div>
    			</div>
    		</div>
    	</div>
    </section>
{{ end }}
