<footer class="ftco-footer ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">YogNishthaTrust</h2>
          <p>Spreading wellness, harmony, and mindful living for all.</p>
          <ul class="ftco-footer-social list-unstyled float-lft mt-3">
            <li class="ftco-animate"><a href="https://www.youtube.com/@Yognishthatrust" target="_blank"><span class="icon-youtube"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/thenishthachaudhary" target="_blank"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="https://www.instagram.com/yognishtha_trust/" target="_blank"><span class="icon-instagram"></span></a></li>
            <li class="ftco-animate"><a href="https://api.whatsapp.com/send/?phone=+918090431230&text&type=phone_number&app_absent=0" target="_blank"><span class="icon-whatsapp"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Popular Links</h2>
          <ul class="list-unstyled">
            <li><a href="{{ "/" | relURL }}">Home</a></li>
            <li><a href="{{ "/about/" | relURL }}">About Us</a></li> 
            <li><a href="{{ "/contact/" | relURL }}">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="{{ "/trainers/" | relURL }}">Trainers</a></li>
            <li><a href="{{ "/classes/" | relURL }}">Classes</a></li>
            <li><a href="{{ "/certifications/" | relURL }}">Certifications</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">{{ .Site.Params.address }}</span></li>
              <li><a href="https://api.whatsapp.com/send/?phone=918090431230&text&type=phone_number&app_absent=0" target="_blank"><span class="icon icon-phone"></span><span class="text">{{ .Site.Params.phone }}</span></a></li>
              <li><a href="mailto:{{ .Site.Params.email }}"><span class="icon icon-envelope"></span><span class="text">{{ .Site.Params.email }}</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">
          Copyright &copy; {{ now.Format "2006" }}. All rights reserved. <br/>Designed with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://plotkai.in" target="_blank">Plotkai.in</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/jquery-migrate-3.0.1.min.js" | relURL }}"></script>
<script src="{{ "js/popper.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.easing.1.3.js" | relURL }}"></script>
<script src="{{ "js/jquery.waypoints.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.stellar.min.js" | relURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "js/aos.js" | relURL }}"></script>
<script src="{{ "js/jquery.animateNumber.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap-datepicker.js" | relURL }}"></script>
<script src="{{ "js/jquery.timepicker.min.js" | relURL }}"></script>
<script src="{{ "js/scrollax.min.js" | relURL }}"></script>
<script src="{{ "js/main.js" | relURL }}"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5575474755924763" crossorigin="anonymous"></script>
